{% extends "pages/page.html" %}
{% load common_url %}
{% load static %}

{% block body %}
<div class="gallery">


    {# TODO : function #}
    <div class="mini-photos left">&nbsp;
    {% for photo in previous_photos %}
        <span class="mini-photo">
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug photo.id photo.slug %}">
            {% if photo.photo_img %}
                <img src="/{{ photo.photo_img }}" alt="{{ photo.title }}" />
            {% else %}
                <span class="glyphicon glyphicon-facetime-video"></span>
            {% endif %}
        </a>
        </span>
    {% endfor %}
    </div>

    {% if previous_photos|length != 0 %}
    <div class="horizontal-arrow left">
        {% with previous_photos|last as prev_photo %}
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug prev_photo.id prev_photo.slug %}">
            <img src="{%  static '/style/img/arrows/left.png' %}" alt="Précédent" />
        </a>
        {% endwith %}
    </div>
    {% endif %}

    <div class="main-photo">
        {% if is_photo %}
            <img style="" src="/{{ page.photo_img }}" alt="{{ page.title }}"/>
        {% else %}
            {{ page.youtube_url|youtube_embedded|safe }}
        {% endif %}
    <br/>
        <div class="caption">
            <h2 id="title">{{ page.title }} </h2>
            <span id="content">{{ page.content_Item }}</span>
        </div>
    </div>

    {% if next_photos|length != 0 %}
    <div class="horizontal-arrow right">
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug next_photos.0.id next_photos.0.slug %}">
            <img src="{%  static '/style/img/arrows/right.png' %}" alt="Suivant" />
        </a>
    </div>
    {% endif %}

    {# TODO : function #}
    <div class="mini-photos right">&nbsp;
    {% for photo in next_photos %}
        <span class="mini-photo">
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug photo.id photo.slug %}">
            {% if photo.photo_img %}
                <img src="/{{ photo.photo_img }}" alt="{{ photo.title }}" />
            {% else %}
                <span class="glyphicon glyphicon-facetime-video"></span>
            {% endif %}
        </a>
        </span>
    {% endfor %}
    </div>

</div>

{% endblock %}
