{% extends "pages/page.html" %}
{% load static %}

{% block body %}
<div class="gallery">

                {# TODO : function #}
    <div class="mini-photos">&nbsp;
    {% for photo in previous_photos %}
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug photo.id photo.slug %}">
        <img height="150px" src="/{{ photo.photo_img }}" alt="TODO" />
        </a>
    {% endfor %}
    </div>

        <div class="main-photo">
            <img style="" src="/{{ page.photo_img }}" alt="{{ page.title }}"/><br/>
            <div class="caption">
                <h2 id="title">{{ page.title }} </h2>
                <span id="content">{{ page.content }}</span>
            </div>
        </div>

    {# TODO : function #}
    <div class="mini-photos">&nbsp;
    {% for photo in next_photos %}
        <a href="{% url 'display_photo' current_cat.slug current_subcat.slug photo.id photo.slug %}">
        <img width="150px" src="/{{ photo.photo_img }}" alt="TODO" />
        </a>
    {% endfor %}
    </div>

</div>

{% endblock %}