{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
<!--   <meta name="description" content="Free Web tutorials">
   <meta name="keywords" content="Artisan">
-->
    <!-- TODO AR : descriptions -->

    <title>{% block title %}{% endblock %} – Valérie de Roquemaurel</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/style/img/favico.png' %}" />

    <link href="{% static '/style/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    {% compress css %}
        <link href="{% static '/style/css/body.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/style/css/header.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/style/css/footer.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/style/css/timeline.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/style/css/photos.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/style/css/press.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="{% static '/style/js/jquery.min.js' %}"></script>
    <script src="{% static '/style/js/bootstrap/bootstrap.min.js' %}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61573960-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-61573960-2');
	</script>
</head>
<body>
    <header>
        {# TODO AR : deux logos mobile / reste du monde #}
        <img id="logo" src="{% static '/style/img/logo.jpg' %}" alt="Valérie de Roquemaurel" />
        <img id="logo_mini" src="{% static '/style/img/logo_mini.jpg' %}" alt="Valérie de Roquemaurel" />
        {% block navbar %} {% endblock %}
    </header>

    <div id="content">
        {% block body %} {% endblock %}
    </div>
    <footer>
        <div class="contact">
            <span class="element">Valérie de Roquemaurel</span>
            <span class="element">+41 78 910 45 15</span>
            <span class="element">
                <a onClick="javascript:window.open('mailto:valerie@createursverriers.ch', 'mail');event.preventDefault()"
                   href="mailto:valerie@createursverriers.ch">valerie@createursverriers.ch
                </a>
            </span>
        </div>
        <div class="social">
            <span class="element"><a target="_blank" href="https://www.facebook.com/valerie.deroquemaurel/">
                <img src="{% static '/style/img/logo-fb.jpg' %}" alt="Facebook" /></a>
            </span>
            <span class="element"><a target="_blank" href="https://www.instagram.com/valeriederoquemaurel/">
                <img src="{% static '/style/img/logo-insta.jpg' %}" alt="Instagram" /></a>
            </span>
            <span class="element"><a target="_blank" href="https://www.linkedin.com/in/valeriederoquemaurel/">
                <img src="{% static '/style/img/logo-ln.png' %}" alt="Linkedin" /></a>
            </span>
        </div>
        {% block footer %} {% endblock %}
    </footer>
</body>

</html>
