{% load static %}

<!-- TODO AR : à implémenter -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- TODO AR : descriptions -->
    <!-- TODO AR : favicon -->

    <title>{% block title %}{% endblock %} – Valérie de Roquemaurel</title>

    <link href="{% static '/style/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/style/css/body.css' %}" rel="stylesheet">
    <link href="{% static '/style/css/photos.css' %}" rel="stylesheet">
    <link href="{% static '/style/css/press.css' %}" rel="stylesheet">
    <link href="{% static '/style/css/header.css' %}" rel="stylesheet">
    <link href="{% static '/style/css/footer.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galdeano|Orienta" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static '/style/js/bootstrap/bootstrap.min.js' %}"></script>
</head>
<body>
    <header>
        <img id="logo" src="{% static '/style/img/logo.jpg' %}" alt="Valérie de Roquemaurel" />
        {% block navbar %} {% endblock %}
    </header>

    <div id="content">
        {% block body %} {% endblock %}
    </div>
    <footer>
        <div class="contact">
            <!-- TODO AR : dans la config-->
            <span class="element">Valérie de Roquemaurel</span>
            <span class="element">+41 78 910 45 105</span>
            <span class="element">valerie@createursverriers.ch</span>
        </div>
        <div class="social">
            <span class="element"><a href="https://www.facebook.com/createursverriers/"><img src="{% static '/style/img/logo-fb.jpg' %}" alt="Facebook" /></a></span>
            <span class="element"><a href="https://www.instagram.com/valeriederoquemaurel/"><img src="{% static '/style/img/logo-insta.jpg' %}" alt="Instagram" /></a></span>
        </div>
        {% block footer %} {% endblock %}
    </footer>
</body>

</html>