{% extends "pages/content-page.html" %}
{% load static %}

{% block text-content %}
    <p>Un esprit d’indépendance et une soif d’autonomie jamais taris. Une force de caractère peu commune, forgée par les révoltes des années de jeunesse. Le dessin, les arts plastiques et les arts appliqués comme chemin menant au verre à la faveur d’un premier travail en atelier.</p>

    <p>Valérie de Roquemaurel ne transige ni dans ses choix, ni avec ses désirs.</p>

    <p>Née à Toulouse (F) en 1982, le goût pour la rigueur hérité du père, celui de la minutie légué par une grand-mère, elle se construit sur ses découvertes et ses rencontres. Celle de Yann Oulevay sera déterminante, pour la femme comme pour l’artiste verrière. Arrivée à Yverdon en 2007, aujourd’hui épouse et mère, elle vit et travaille à Pomy, en Suisse, où elle a posé bagages, pris racine et acquis la nationalité suisse.</p>

    <p>Pour elle, le verre reste matière purement magique qu’elle ne cesse de découvrir en même temps qu’elle le travaille. Un travail mené dans l’atelier spacieux, clair et ordonné, où, dit-elle, « la lumière est un compagnon à part entière. Elle révèle le mat, doux, comme le brillant, viril ».</p>

    <p>Designer dans l’âme, récusant le terme d’artisan, doutant du son statut d’artiste, elle voit dans l’expression de métier d’art la meilleure définition de son activité. Elle se consacre à la création de pièces fonctionnelles qu’imprègne toujours une poésie épurée et discrète, une science à la fois intuitive et maitrisée de la ligne comme du trait.</p>

    <p><em>Thierry Scherrer</em></p>
{% endblock %}

{% block left-content %}
    <img src="/upload/pages/infos/biographie/bio_valeriederoquemaurel.jpg" alt="Valérie de Roquemaurel"/>
    <p style="text-align: center;">© Q. Bacchus</p>
{%endblock%}