{% extends "pages/content-page.html" %}
{% load static %}

{% block text-content %}
    <h2>Le parcours</h2>

<p>Au cœur de l'enfance le dessin lui ouvre la voie de l'expression artistique, trançant déjà le chemin. Les arts plastiques, puis les arts appliqués en seront les jalons.
    Le verre suivra comme une révélation et une découverte, naturellement. Ce sera ça, sa vie.</p>

<p>Guidée par l'amour, cette native de Toulouse fait de la suisse sa nouvelle patrie en 2008. Après Yverdon-les-bains, où sont nés sont mari et leur fille, Pomy
    est à présent leur port d'attache. Famille et atelier y sont installés.</p>

<p>Aujourd'hui, ses œuvres entrent dans les galeries, les musées ou encore les intérieurs. Discrètes et sobres, elles séduisent
    autant par leurs lignes épurées que par certaines découpes tout en fraîcheur enjouée.</p>

    <h2>La femme et l'artiste</h2>
<p>La silhouette fine ne laisse qu'entrevoir l'énergie et la force que les bras, rompus à l'exercice quotidien de l'exigeant travail du verre,
expriment à tout instant. Le regard totalement absorbé par la tâche ne laisse que deviner la chaleur qu'il révèle dès lors qu'elle parle de son travail.
Le gest sûr, fruit d'un long apprentissage, ne laisse rien voir du doute ou de l'angoisse qui peuvent précéder la création d'une pièce. La voix enfin, nette, exprime
les sentiments sans les farder ni les ordiner d'inutiles artifices. Ainsi est faite Valérie de Roquemaurel.</p>
{% endblock %}

{% block left-content %}
    <img src="{% static '/content/biographie/portrait_2.jpg' %}" style="width: 100%" alt="Valérie de Roquemaurel"/>
<p><center>Copyright © E.Dupuy</center></p>
{%endblock%}