{% extends "pages/content-page.html" %}

{% block left-content %}
    <img src="/upload/pages/infos/cv/5b02.jpg" />
{% endblock %}
{% block text-content %}
    <p>Née le 08.09.1982</p>

<p>Nationalité Franco-Suisse</p>

<h3>Études</h3>
<ul class="timeline">
    <li> <span class="circle"></span><span class="title">2006/07</span> <span class="text">Diplôme de Compagnon Verrier Européen, option Soufflage, au CERFAV (Centre Européen de Recherche et de Formation aux Arts Verriers) à Vannes-le-Châtel (54).</span> </li>
	<li> <span class="circle"></span><span class="title">2005/06</span> <span class="text">CAP Arts et Techniques du Verre, option Soufflage, au CERFAV.</span></li>
	<li> <span class="circle"></span><span class="title">2004/05</span> <span class="text">MAÎTRISE d’Arts Appliqués, à l’Université du Mirail de Toulouse (31). Thème de mémoire : « Vers un Design Onirique, par le biais du Verre ».</span></li>
	<li> <span class="circle"></span><span class="title">2003/04</span> <span class="text">LICENCE d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « Vers un Design Onirique ».</span></li>
    <li> <span class="circle"></span><span class="title">2001/03</span> <span class="text">DEUG d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « De l’influence de la Couleur ».</span></li>
    <li> <span class="circle"></span><span class="title">2000/01</span> <span class="text">BACCALAURÉAT Littéraire-Arts Plastique, au lycée Ste Marie des Champs, Toulouse (31).</span></li>
</ul>

<h3>Stages, Expériences</h3>
    <ul class="timeline">
    <li class="long"><span class="title">depuis 2017</span>
        <span class="text">
            Personnalisation de flacons en cristal Baccarat et St Louis, cognac Louis XIII
        </span>
    </li>
    <li class="long"><span class="circle"></span><span class="title">depuis 2016</span>
        <span class="text">
            Pièces en verre soufflées découpées au sablage pour l'Hôtel de ville de Crissier, CH-1023
        </span>
    </li>
    <li class="long"><span class="circle"></span><span class="title">depuis 2013</span>
        <span class="text">
            Présidence de l'Association Souffle de Verre
        </span>
    </li>
    <li class="long"><span class="circle"></span><span class="title">depuis 2008</span>
        <span class="text">
            Enseignement du travail du verre au chalumeau.
        </span>
    </li>


    <li> <span class="circle"></span><span class="title">2020</span>
        <span class="text">
        « La flamme et le souffle », réalisation d'un livre d'art, sur mon travail de verre soufflé<br/>
        Inauguration d'un salon clientèle à mon nom, banque Piguet Galland, Yverdon-les-Bains CH-1400<br/>
        « Femmes de verre, femmes de verreries », oratrice, Musée du verre de Charleroi B-6001
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2019</span>
        <span class="text">
            Réalisation d'un lustre de 2m30 pour la Poméranne, Pomy CH-1405<br/>
            Réalisation de cloches en verre soufflé pour le MUDAC CH-1005
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2017</span>
        <span class="text">
        Tournage dans mon atelier pour les montres Girard Perregaux
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2016</span>
        <span class="text">
        Présentoirs, avec Pack Team, pour Pomellato<br/>
        Réalisation d'un pot Vaudois d'1m, avec packaging, pour Planzer transport
        </span>
    </li>

	<li> <span class="circle"></span><span class="title">2015</span>
        <span class="text">
            Trophées Bazaar, Women of the year 2015, avec Opal Créations, pour Audemars Piguet. Personnalités concernées : Nicole Kidman, Kate Winslet, Sienna Miller<br/>
            Inauguration de l'atelier de soufflage, à Pomy
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2013</span>
        <span class="text">
            Inauguration de l'atelier de soufflage, à Pomy<br/>
            Conférence sur le verre soufflé à la main, Musée d'Aquitaine de bordeaux F-33
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2012/14</span>
        <span class="text">
            Ateliers en collaboration avec le MUDAC
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2011/13</span>
        <span class="text">
            Enseignement, Académie des Arts visuels, Neuchâtel CH-2000
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
            Recherches pour la maison Van Cleef & Arpels<br/>
            Enseignement hebdomadaire, verre, SEMO, à Yverdon-les-Bains
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
            Installation à Yverdon-les-bains
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2007/08</span>
        <span class="text">
            Travail chez Y. Oulevay, T. Blank et M. Gonet, Souffleurs de Verre, Suisse<br/>
            Résidence au musée du verre de Trélon, F-59
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2007</span>
        <span class="text">
            Stage chez M.Johansson, Souffleur de Verre, Pukeberg Suède
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
            Stage chez O.Mallemouche, Souffleur de Verre, Bretenoux F-46, à la « Scuola del vetro<br/>
            Abatte Zanetti », Murano (Italie), et à la Manufacture Royale de la Granja Espagne<br/>
            Présidence de l’association de verriers issus du CERFAV, « Hyaloïde » F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2005</span>
        <span class="text">
            Stage chez J. Daniaux, Souffleuse de Verre, Montolieu F-11<br/>
            Stage chez F.Troubat, Artisan d’Art ferronnier ébéniste, Lardy F-91
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2004/05</span>
        <span class="text">
            Stage chez E.Lindgren, Souffleur de Verre, Claret F-34<br/>
            Stage chez F.Troubat, Artisan d’Art ferronnier ébéniste, Lardy F-91
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2001</span>
        <span class="text">
            Peinture de boutiques, restaurants et salon de thé , Toulouse F-31
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2000/02</span>
        <span class="text">
            Initiation plastique pour des 10/14 ans, animation d’ateliers MJC, Toulouse
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">1997</span>
        <span class="text">
            Initiation plastique pour des 10/14 ans, animation d’ateliers MJC, Toulouse
        </span>
    </li>
        <li> <span class="circle"></span><span class="title">1997/00</span>
        <span class="text">
            Ateliers du soir des Beaux-Arts de Toulouse
        </span>
    </li>
</ul>

<h3>Expositions</h3>
    <ul class="timeline">
    <li> <span class="circle"></span><span class="title">2021</span>
        <span class="text">
        Galerie du château d'Avenches CH-1580
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2020</span>
        <span class="text">
        La galerie du Tilleul, Champtauroz CH-1537
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2019</span>
        <span class="text">
        Vitrofestival, Romont CH-1680<br/>
            Exposition, cabinet du docteur V. Ducommun, Le mont-sur-Lausanne CH-1052<br/>
            « Arts du feu », Tibet Museum, Gruyères CH-1663<br/>
            Château de Courcelles, Montigny-les-Metz F-54<br/>
            « MAG », Montreux CH-1833
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2018</span>
        <span class="text">
        « MAG », Montreux CH-1833<br/>
            « MAG », Montreux CH-1833
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2017</span>
        <span class="text">
        « Déjà 10 ans », Pomy CH-1405<br/>
            « Du Verre pour la Vie », Vitromusée, Romont CH-1680<br/>
            Vitrofestival, Romont CH-1680<br/>
            Tony Baugrand, Porrentruy CH-2900
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2016</span>
        <span class="text">
        Zont'ARt, Yverdon-les-Bains, CH-1400<br/>
        Musée de Ballenberg, Hofstetten, CH-3858
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2015</span>
        <span class="text">
            « Tout Feu, Tout Flamme », Pomy, CH-1405<br/>
            Espace Empreinte, Lausanne CH-1006<br/>
            Musée de Charmey, CH-1637<br/>
            Boutique du musée Ariana, Genève, CH-1202
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2014-19</span>
        <span class="text">
            Sélectionnée par le canton pour participer aux JEMA
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2014</span>
        <span class="text">
            Musée de Ballenberg, Hofstetten, CH-3858<br/>
            Galerie Plexus, Marly, CH-1723<br/>
            Ambassade de Suisse, Paris, F-75
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2013</span>
        <span class="text">
             Galerie Entre lac et lumière, Begnins CH-1268<br/>
            « Verre, la nouveauté », Langeais F-37<br/>
            « Souffle de Verre », Bourg sur Gironde F-33<br/>
            « Fusion », Vitromusée Romont CH-1680
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2012</span>
        <span class="text">
        Galerie Abysse, Morges, CH-1110<br/>
        Galerie Yv'Art, exposition personnelle CH-1400<br/>
        Galerie du château d'Avenches, exposition personnelle CH-1580<br/>
        Galerie du château de Vullierens, collective CH-1115<br/>
        Ancienne forge, collective en faveur de la formation, Zonta, Yverdon CH-1400<br/>
        « Artistes yverdonnois », collective, Hôtel de ville d'Yverdon CH-1400
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2011</span>
        <span class="text">
            « Verre et céramique », en nos ateliers, Yverdon CH-1400<br/>
            MAG, Montreux, représentée par la Galerie Plexus CH-1833<br/>
            Collective, espace Evanescence, L’Oudon F-14<br/>
            Galerie Glass Inspiration à Burgdorf CH-3400<br/>
            Galerie Meridienne, à Méjannes le Clap F-30<br/>
            Galerie Plexus de Fribourg CH-1 700
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
        « Multiples », Yverdon CH-1400<br/>
        MAG, Montreux CH-1833<br/>
        Galerie Artcadache, Vallorbe CH-1337<br/>
        Galerie des 3 Soleils, Epesse CH-1098<br/>
        Galerie de l’hôtel de ville, « 26 artistes Yverdonnois » Yverdon-les-bains CH-1400
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2009</span>
        <span class="text">
        « Techniques Mixtes », à Yverdon les Bains CH-1400<br/>
        « Éclats de Verre en Bresle » à Blangy sur Bresle F-76<br/>
        « Verre et Lumière » , Langeais F-37<br/>
        « Art Verrier Contemporain » au Noirmont CH-2430<br/>
        Bucherer à St Moritz CH-7500<br/>
        Galerie Glass Inspiration à Burgdorf CH-3400
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
        Galerie Yvart,  Yverdon-les-Bains CH-1400<br/>
        « 7 femmes », galerie du château de Vullierens CH-1115<
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2007</span>
        <span class="text">
            Leclanché, Yverdon-les-Bains CH-1400<br/>
            « Folies Verrière au château», Lunéville F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006/07</span>
        <span class="text">
          « Verre Vous », Vannes-le-Châtel F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2001/05</span>
        <span class="text">
        Expositions de travaux personnels et picturaux, Toulouse, F-31, Biarritz F-64
        </span>
    </li>
</ul>

    <h3>Permanences</h3>

    <ul class="timeline">
    <li> <span class="circle"></span><span class="title">2020</span>
        <span class="text">
        Galerie Plexus Palace, Montreux CH-1833<br/>
        Restaurant de l'Hôtel de Ville de Crissier CH-1023<br/>
        Boutique du MusVerre, Sars Poterie F-59216<br/>
        Galerie Caractère, Neuchâtel CH-2000<br/>
        Boutique du Musée de Romont CH-1680
        </span>
    </li>
    </ul>

<h3>Prix</h3>
<ul class="timeline">
    <li> <span class="circle"></span><span class="title">2018</span>
        <span class="text">
            « Prix du Patrimoine culturel immatériel », fondation Vaudoise pour la culture.<br/>
            « Prix MAG », Montreux Art Gallery, CH-1833
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2014</span>
        <span class="text">
        « Prix Jumelles », prix d'Encouragement, Ballenberg, CH-3858
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2012</span>
        <span class="text">
        « Le reflet », 1er sélection, verre soufflé/sablé, festival FIMA à Baccarat F-54
        </span>
    </li>


    <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
        « Le reflet », 1er sélection, verre soufflé/sablé, festival FIMA à Baccarat F-54
        </span>
    </li>

        <li> <span class="circle"></span><span class="title">2009</span>
        <span class="text">
        « Bijou d’enfance », 1er prix public, 1er prix jeune public, projet verre et argent, Baccarat F-54
        </span>
    </li>

        <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
        « Souffles d’Artistes ». Résidence, verre soufflé, à l’atelier musée du verre de Trélon F-59
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
        « De l’œuf à la Poule ». 2° et 3° prix ex-aequo. Projet de cuquetier, en pâte de verre F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
        « De l’œuf à la Poule ». 2° prix ex-aequo. Projet de cuquetier, en pâte de verre (F-54).
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2000</span>
        <span class="text">
        « Jeune en vacances ». 1er prix. Peinture, Toulouse F-31
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">1999</span>
        <span class="text">
        « 24H de la peinture ».1er prix. Peinture, Toulouse F-31.
        </span>
    </li>
</ul>

{% endblock %}