{% extends "pages/content-page.html" %}

{% block left-content %}
    <img src="/upload/pages/infos/cv/5b02.jpg" />
{% endblock %}
{% block text-content %}
    <p>Née le 08.09.1982</p>

<p>Nationalité Franco-Suisse<br/>
    Mariée</p>


<h3>Études</h3>
<ul>
    <li><b>2006/07</b> : Diplôme de Compagnon Verrier Européen, option Soufflage, au CERFAV (Centre Européen de Recherche et de Formation aux Arts Verriers) à Vannes-le-Châtel (54).</li>
    <li><b>2005/06</b> : CAP Arts et Techniques du Verre, option Soufflage, au CERFAV.</li>
    <li><b>2004/05</b> : MAÎTRISE d’Arts Appliqués, à l’Université du Mirail de Toulouse (31). Thème de mémoire : « Vers un Design Onirique, par le biais du Verre ».</li>
    <li><b>2003/04</b> : LICENCE d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « Vers un Design Onirique ».</li>
    <li><b>2001/03</b> : DEUG d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « De l’influence de la Couleur ».</li>
    <li><b>2000/01</b> : BACCALAURÉAT Littéraire-Arts Plastique, au lycée Ste Marie des Champs, Toulouse (31).</li>
</ul>

<h3>Stages, Expériences</h3>
    <h4>2016 :</h4>
    <ul>
        <li>Présentoirs, avec Pack Team, pour Pomellato</li>
        <li>Centres de table pour Madame Violier, Hôtel de ville de Crissier, CH-1023</li>
    </ul>

    <h4>2015 :</h4>
    <ul>
        <li>Trophées Bazaar, Women of the year 2015, avec Opal Créations, pour 	 Audemars Piguet.<li>
    </ul>

    <h4>2013/16 :</h4>
    <ul>
        <li>Présidence de l’Association Souffle de verre</li>
    </ul>

    <h4>2013 :</h4>
    <ul>
        <li>Conférence, Musée d’Aquitaine de Bordeaux F-33</li>
        <li>Installation à Pomy, CH-1405</li>
    </ul>

    <h4>2012/14 :</h4>
    <ul>
        <li>« Pakomusée », « Workshop Design», ateliers en collaboration avec le MUDAC CH-1005 Lausanne</li>
    </ul>

    <h4>2011/14 :</h4>
    <ul>
        <li>Enseignement pâte de verre, Aca. de Meuron, Neuchâtel CH-2000</li>
    </ul>

    <h4>2010/16 :</h4>
    <ul>
        <li>Enseignement du verre au chalumeau, CH-1400/1405</li>
    </ul>

    <h4>2010 :</h4>
    <ul>
        <li>Recherches pour la maison Van Cleef & Arpels</li>
    </ul>

    <h4>2008 :</h4>
    <ul>
        <li>Installation à Yverdon-les-bains, CH-1400</li>
    </ul>

    <h4>2008 :</h4>
    <ul>
        <li>Résidence au musée du verre de Trélon F-59</li>
    </ul>

    <h4>2006/07 :</h4>
    <ul>
        <li>Stages chez des verriers en Italie (Murano), Suéde, Espagne, France et Suisse</li>
    </ul>

    <h4>2006 :</h4>
    <ul>
        <li>Présidence de l’Association de verriers « Hyaloïde » F-54</li>
    </ul>

    <h4>2004/05 :</h4>
    <ul>
        <li>Stage chez E.Lindgren, Souffleur de Verre, Claret F-34.</li>
    </ul>

<h3>Expositions</h3>
    <h4>2016:</h4>
    <ul>
        <li>Zont'ARt, Yverdon-les-Bains, CH-1400</li>
        <li>Musée de Ballenberg, Hofstetten, CH-3858</li>
    </ul>

    <h4>2015 :</h4>
    <ul>
        <li>"Tout Feu, Tout Flamme", Pomy, CH-1405</li>
        <li>Espace Empreinte, Lausanne CH-1006</li>
        <li>Musée de Charmey, CH-1637</li>
        <li>Boutique du musée Ariana, Genève, CH-1202</li>
</ul>

    <h4>2014 :</h4>
    <ul>
        <li>Musée de Ballenberg, Hofstetten, CH-3858</li>
        <li>Galerie Plexus, Marly, CH-1723</li>
        <li>Ambassade de Suisse, Paris, F-75</li>
</ul>

    <h4>2013 :</h4>
    <ul>
        <li>Vitromusée de Romont, CH-1680</li>
        <li>Bourg sur Gironde, F-33</li>
</ul>

    <h4>2012 :</h4>
    <ul>
        <li>Galerie Abysse, Morges, CH-1110</li>
        <li>Galerie Yv'Art, exposition personnelle CH-1400</li>
        <li>Galerie du château d'Avenches, exposition personnelle CH-1580</li>
        <li>Galerie du château de Vullierens, collective CH-1115</li>
        <li>Ancienne forge, collective en faveur de la formation, Zonta, Yverdon CH-1400</li>
        <li>« Artistes yverdonnois », collective, Hôtel de ville d'Yverdon CH-1400</li>
    </ul>

    <h4>2011 :</h4>
    <ul>
        <li>« Verre et céramique », en nos ateliers, Yverdon CH-1400</li>
        <li>MAG, Montreux, représentée par la Galerie Plexus CH-1833</li>
        <li>Collective, espace Evanescence, L’Oudon F-14</li>
        <li>Galerie Glass Inspiration à Burgdorf CH-3400</li>
        <li>Galerie Meridienne, à Méjannes le Clap F-30</li>
        <li>Galerie Plexus de Fribourg CH-1 700</li>
    </ul>

    <h4>2010 :</h4>
    <ul>
        <li>« Multiples », Yverdon CH-1400</li>
        <li>MAG, Montreux CH-1833</li>
        <li>Galerie Artcadache, Vallorbe CH-1337</li>
        <li>Galerie des 3 Soleils, Epesse CH-1098</li>
        <li>Galerie de l’hôtel de ville, « 26 artistes Yverdonnois » Yverdon-les-bains CH-1400</li>
    </ul>

    <h4>2009 :</h4>
    <ul>
        <li>« Techniques Mixtes », à Yverdon les Bains CH-1400</li>
        <li>« Éclats de Verre en Bresle » à Blangy sur Bresle F-76</li>
        <li>« Verre et Lumière » , Langeais F-37</li>
        <li>« Art Verrier Contemporain » au Noirmont CH-2430</li>
        <li>Bucherer à St Moritz CH-7500</li>
        <li>Galerie Glass Inspiration à Burgdorf CH-3400</li>
</ul>

    <h4>2008:</h4>
    <ul>
        <li>Galerie Yvart, Yverdon les Bains CH-1400</li>
        <li>« 7 femmes », galerie du château de Vullierens CH-1115</li>
        <li>Démonstration au musée du verre de Trélon F-59</li>
        <li>Portes Ouvertes à Leclanché, Yverdon-les-Bains CH-1400</li>
</ul>

    <h4>2007 :</h4>
    <ul>
        <li>Portes Ouvertes à Leclanché, Yverdon-les-Bains CH-1400</li>
        <li>« Folies Verrière au château», Lunéville F-54</li>
        <li>« Verre Vous », projet personnel, Vannes-le-Châtel F-54</li>
    </ul>

    <h4>2006 :</h4>
    <ul>
        <li>« Verre Vous », projet personnel, Vannes-le-Châtel F-54</li>
    </ul>

    <h4>2005 :</h4>
        <ul>
            <li>Exposition de travaux personnels, « Fais-moi une place dans ta maison », Biarritz F-64</li>
            <li>Exposition, travaux et projets personnels, jardin du Grand Rond, Toulouse F-31</li>
        </ul>

<h4>2004 :</h4>
    <ul>
        <li>Exposition de travaux picturaux, personnel, dans le bar musical « Le Bubble’s », F-31</li>
</ul>

<h4>2001 :</h4>
    <ul>
        <li>Exposition de travaux picturaux, à Mix Art Myris, Toulouse F-31</li>
        <li>Exposition de travaux picturaux, personnel, dans le salon de thé « El Soleiado », F-31</li>
</ul>

<h3>Permanences</h3>
    <ul>
        <li>Galerie Yvart, à Yverdon les Bains CH-1400</li>
        <li>Boutique du Vitromusée, Romont, CH-1680</li>
        <li>Boutique de l'Abbatiale de Romainmôtier, CH-1323</li>
        <li>Galerie Plexus de Marly CH-1 700, et de Clarens/Montreux, villa Murillo CH-1815,</li>
        <li>Galerie Caractère, Neuchâtel CH-2000,</li>
        <li>Galerie P. Berges, Biarritz F-64,</li>
        <li>Cours de verre au chalumeau à l'atelier,</li>
    </ul>



<h3>Prix</h3>
<ul>
    <li><b>2014</b> : Prix d'Encouragement au concours du Prix Jumelles, Ballenberg, (CH-3858)</li>
    <li><b>2012</b> : "Le reflet" "Concours FIMA". sélection, Baccarat (F-54).</li>
    <li><b>2010</b> : "Concours FIMA". sélection, Baccarat (F-54).</li>
    <li><b>2009</b> : « Bijou d’enfance », Projet de bijou en verre filé et argent, à Baccarat (F-54). 1er prix public et 1er prix jeune public,</li>
    <li><b>2008</b> : « Souffles d’Artistes ». Projets en verre soufflé, à l’atelier musée du verre de Trélon (F-59)</li>
    <li><b>2006</b> : « De l’œuf à la Poule ». 2° prix ex-aequo. Projet de cuquetier, en pâte de verre (F-54).</li>
    <li><b>2000</b> : « Jeune en vacances ». 1er prix. Peinture, à Toulouse (F-31).</li>
    <li><b>1998</b> : « 24H de la peinture ».1er prix. Peinture, à Toulouse (F-31).</li>
</ul>


{% endblock %}