{% extends "pages/content-page.html" %}

{% block left-content %}
    <img style="max-width: 450px;" src="/upload/pages/infos/cv/5b02.jpg" />
{% endblock %}
{% block text-content %}
    <p>Née le 08.09.1982</p>

<p>Nationalité Franco-Suisse</p>

<h3>Études</h3>
<ul class="timeline">
    <li> <span class="circle"></span><span class="title">2006/07</span> <span class="text">Diplôme de Compagnon Verrier Européen, option Soufflage, au CERFAV (Centre Européen de Recherche et de Formation aux Arts Verriers) à Vannes-le-Châtel (54).</span> </li>
	<li> <span class="circle"></span><span class="title">2005/06</span> <span class="text">CAP Arts et Techniques du Verre, option Soufflage, au CERFAV.</span></li>
	<li> <span class="circle"></span><span class="title">2004/05</span> <span class="text">MAÎTRISE d’Arts Appliqués, à l’Université du Mirail de Toulouse (31). Thème de mémoire : « Vers un Design Onirique, par le biais du Verre ».</span></li>
	<li> <span class="circle"></span><span class="title">2003/04</span> <span class="text">LICENCE d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « Vers un Design Onirique ».</span></li>
    <li> <span class="circle"></span><span class="title">2001/03</span> <span class="text">DEUG d’Arts Appliqués, à l’Université du Mirail. Thème de mémoire : « De l’influence de la Couleur ».</span></li>
    <li> <span class="circle"></span><span class="title">2000/01</span> <span class="text">BACCALAURÉAT Littéraire-Arts Plastique, au lycée Ste Marie des Champs, Toulouse (31).</span></li>
</ul>

<h3>Stages, Expériences</h3>
    <ul class="timeline">
    <li> <span class="circle"></span><span class="title">2016</span>
        <span class="text">
        Présentoirs, avec Pack Team, pour Pomellato<br/>
        Centres de table pour Madame Violier, Hôtel de ville de Crissier, CH-1023
        </span>
    </li>

	<li> <span class="circle"></span><span class="title">2015</span>
        <span class="text">
            Trophées Bazaar, Women of the year 2015, avec Opal Créations, pour 	 Audemars Piguet.
        </span>
    </li>

	<li> <span class="circle"></span><span class="title">2013/16</span>
        <span class="text">
            Présidence de l’Association Souffle de verre
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2013</span>
        <span class="text">
            Conférence, Musée d’Aquitaine de Bordeaux F-33<br/>
            Installation à Pomy, CH-1405
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2012/14</span>
        <span class="text">
            « Pakomusée », « Workshop Design», ateliers en collaboration avec le MUDAC CH-1005 Lausanne
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2011/14</span>
        <span class="text">
            Enseignement pâte de verre, Aca. de Meuron, Neuchâtel CH-2000
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2010/16</span>
        <span class="text">
            Enseignement du verre au chalumeau, CH-1400/1405
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
            Recherches pour la maison Van Cleef & Arpels
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
            Installation à Yverdon-les-bains, CH-1400<br/>
            Résidence au musée du verre de Trélon F-59
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006/07</span>
        <span class="text">
            Stages chez des verriers en Italie (Murano), Suéde, Espagne, France et Suisse
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
            Présidence de l’Association de verriers « Hyaloïde » F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2004/05</span>
        <span class="text">
            Stage chez E.Lindgren, Souffleur de Verre, Claret F-34.
        </span>
    </li>
</ul>

<h3>Expositions</h3>
    <ul class="timeline">
    <li> <span class="circle"></span><span class="title">2016</span>
        <span class="text">
        Zont'ARt, Yverdon-les-Bains, CH-1400<br/>
        Musée de Ballenberg, Hofstetten, CH-3858
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2015</span>
        <span class="text">
            "Tout Feu, Tout Flamme", Pomy, CH-1405<br/>
            Espace Empreinte, Lausanne CH-1006<br/>
            Musée de Charmey, CH-1637<br/>
            Boutique du musée Ariana, Genève, CH-1202
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2014</span>
        <span class="text">
            Musée de Ballenberg, Hofstetten, CH-3858<br/>
            Galerie Plexus, Marly, CH-1723<br/>
            Ambassade de Suisse, Paris, F-75
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2013</span>
        <span class="text">
            Vitromusée de Romont, CH-1680<br/>
            Bourg sur Gironde, F-33
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2012</span>
        <span class="text">
        Galerie Abysse, Morges, CH-1110<br/>
        Galerie Yv'Art, exposition personnelle CH-1400<br/>
        Galerie du château d'Avenches, exposition personnelle CH-1580<br/>
        Galerie du château de Vullierens, collective CH-1115<br/>
        Ancienne forge, collective en faveur de la formation, Zonta, Yverdon CH-1400<br/>
        « Artistes yverdonnois », collective, Hôtel de ville d'Yverdon CH-1400
        </span>
    </li>
    <li> <span class="circle"></span><span class="title">2011</span>
        <span class="text">
            « Verre et céramique », en nos ateliers, Yverdon CH-1400<br/>
            MAG, Montreux, représentée par la Galerie Plexus CH-1833<br/>
            Collective, espace Evanescence, L’Oudon F-14<br/>
            Galerie Glass Inspiration à Burgdorf CH-3400<br/>
            Galerie Meridienne, à Méjannes le Clap F-30<br/>
            Galerie Plexus de Fribourg CH-1 700
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
        « Multiples », Yverdon CH-1400<br/>
        MAG, Montreux CH-1833<br/>
        Galerie Artcadache, Vallorbe CH-1337<br/>
        Galerie des 3 Soleils, Epesse CH-1098<br/>
        Galerie de l’hôtel de ville, « 26 artistes Yverdonnois » Yverdon-les-bains CH-1400
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2009</span>
        <span class="text">
        « Techniques Mixtes », à Yverdon les Bains CH-1400<br/>
        « Éclats de Verre en Bresle » à Blangy sur Bresle F-76<br/>
        « Verre et Lumière » , Langeais F-37<br/>
        « Art Verrier Contemporain » au Noirmont CH-2430<br/>
        Bucherer à St Moritz CH-7500<br/>
        Galerie Glass Inspiration à Burgdorf CH-3400
        </span>
    </li>

     <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
        Galerie Yvart, Yverdon les Bains CH-1400<br/>
        « 7 femmes », galerie du château de Vullierens CH-1115<br/>
        Démonstration au musée du verre de Trélon F-59<br/>
        Portes Ouvertes à Leclanché, Yverdon-les-Bains CH-1400
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2007</span>
        <span class="text">
        Portes Ouvertes à Leclanché, Yverdon-les-Bains CH-1400<br/>
        « Folies Verrière au château», Lunéville F-54<br/>
        « Verre Vous », projet personnel, Vannes-le-Châtel F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2007</span>
        <span class="text">
        « Verre Vous », projet personnel, Vannes-le-Châtel F-54
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2005</span>
        <span class="text">
            Exposition de travaux personnels, « Fais-moi une place dans ta maison », Biarritz F-64<br/>
            Exposition, travaux et projets personnels, jardin du Grand Rond, Toulouse F-31
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2004</span>
        <span class="text">
        Exposition de travaux picturaux, personnel, dans le bar musical « Le Bubble’s », F-31
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2001</span>
        <span class="text">
        Exposition de travaux picturaux, à Mix Art Myris, Toulouse F-31<br/>
        Exposition de travaux picturaux, personnel, dans le salon de thé « El Soleiado », F-31
        </span>
    </li>
    </ul>

<h3>Prix</h3>
<ul class="timeline">
    <li> <span class="circle"></span><span class="title">2014</span>
        <span class="text">
        Prix d'Encouragement au concours du Prix Jumelles, Ballenberg, (CH-3858)
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2012</span>
        <span class="text">
        "Le reflet" "Concours FIMA". sélection, Baccarat (F-54).
        </span>
    </li>


    <li> <span class="circle"></span><span class="title">2010</span>
        <span class="text">
        "Concours FIMA". sélection, Baccarat (F-54).
        </span>
    </li>

        <li> <span class="circle"></span><span class="title">2009</span>
        <span class="text">
        « Bijou d’enfance », Projet de bijou en verre filé et argent, à Baccarat (F-54). 1er prix public et 1er prix jeune public,
        </span>
    </li>

        <li> <span class="circle"></span><span class="title">2008</span>
        <span class="text">
        « Souffles d’Artistes ». Projets en verre soufflé, à l’atelier musée du verre de Trélon (F-59)
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
        « De l’œuf à la Poule ». 2° prix ex-aequo. Projet de cuquetier, en pâte de verre (F-54).
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2006</span>
        <span class="text">
        « De l’œuf à la Poule ». 2° prix ex-aequo. Projet de cuquetier, en pâte de verre (F-54).
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">2000</span>
        <span class="text">
        « Jeune en vacances ». 1er prix. Peinture, à Toulouse (F-31).
        </span>
    </li>

    <li> <span class="circle"></span><span class="title">1999</span>
        <span class="text">
        « 24H de la peinture ».1er prix. Peinture, à Toulouse (F-31).
        </span>
    </li>
</ul>

{% endblock %}