{% extends "pages/content-page.html" %}

{% block text-content %}
    <ul>
        <li><a target="_blank" href="https://www.restaurantcrissier.com">Restaurant de l'Hôtel de Ville de Crissier</a></li>
        <li><a target="_blank" href="http://www.latabledemary.ch/">La Table de Mary</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="https://musverre.lenord.fr/fr/Accueil.aspx">Musverre</a></li>
        <li><a target="_blank" href=" https://mudac.ch">Mudac</a></li>
        <li><a target="_blank" href="http://institutions.ville-geneve.ch/fr/ariana/">Musée Ariana</a></li>
        <li><a target="_blank" href="http://www.vitromusee.ch/de/aktuell.html">Vitromusee Romont</a></li>
        <li><a target="_blank" href="https://www.cmog.org/francais">Corning Museum of Glass </a></li>
    </ul>

    <ul>
        <li><a target="_blank" href="https://metiersdart.ch/fr_CH/metiers-d-art/repertoire-artisan/valerie-de-roquemaurel">Métiers d'art Suisse</a></li>
    </ul>

    <ul>
        <li><a target="_blank" href="https://quentinbacchus.com">Quentin Bacchus, photographe</a></li>
        <li><a target="_blank" href="https://cleutenegger.com">Catherine Leutenegger, photographe </a></li>
        <li><a target="_blank" href="https://www.anitalopezcarreras.photos">Anita Lopez Carreras, photographe</a></li>
    </ul>

    <ul>
        <li><a target="_blank" href="http://www.cerfav.fr/">Cerfav.fr</a></li>
    </ul>

    <h3>Crédits</h3>
    <ul>
        <li>Design : <a target="_blank" href="http://www.desptitsbonheurs.com/index.html">Des ptits bonheurs</a></li>
        <li>Développement : <a target="_blank" href="https://antoine.roquemaurel.pro/index.html">Antoine de Roquemaurel</a></li>
    </ul>
{% endblock %}
