{% extends "pages/content-page.html" %}

{% block text-content %}
    <ul>
        <li><a target="_blank" href="http://createursverriers.ch/">createursverriers.ch</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="http://www.restaurantcrissier.com/fr/restaurant-hotel-ville-crissier-official-site.php">Restaurant de l'Hôtel de Ville de Crissier</a></li>
        <li><a target="_blank" href="http://www.latabledemary.ch/">La Table de Mary</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="http://www.galerie-yvart.ch/">Galerie Yv'Art, Yverdon</a></li>
        <li><a target="_blank" href="http://institutions.ville-geneve.ch/fr/ariana/">Musée Ariana</a></li>
        <li><a target="_blank" href="http://www.galleryplexus.com/ch/">Galleryplexus</a></li>
        <li><a target="_blank" href="http://www.vitromusee.ch/de/aktuell.html">Vitromusee Romont</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="http://www.cedricbregnard.ch/">Cedric Bregnard</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="http://www.journeesdesmetiersdart-vaud.ch/">Journées des métiers d'art-vaud.ch</a></li>
    </ul>
    
    <ul>
        <li><a target="_blank" href="http://www.cerfav.fr/">Cerfav.fr</a></li>
    </ul>

    <h3>Crédits</h3>
    <ul>
        <li>Design : <a target="_blank" href="http://www.desptitsbonheurs.com/index.html">Des ptits bonheurs</a></li>
        <li>Développement : <a target="_blank" href="https://antoine.roquemaurel.pro/index.html">Antoine de Roquemaurel</a></li>
    </ul>
{% endblock %}