{% extends "pages/content-page.html" %}

{% block text-content %}
    <ul>
        <li><a href="http://createursverriers.ch/">createursverriers.ch</a></li>
    </ul>
    
    <ul>
        <li><a href="http://www.restaurantcrissier.com/fr/restaurant-hotel-ville-crissier-official-site.php">Restaurant de l'Hôtel de Ville de Crissier</a></li>
        <li><a href="http://www.latabledemary.ch/">La Table de Mary</a></li>
    </ul>
    
    <ul>
        <li><a href="http://www.galerie-yvart.ch/">Galerie Yv'Art, Yverdon</a></li>
        <li><a href="http://institutions.ville-geneve.ch/fr/ariana/">Musée Ariana</a></li>
        <li><a href="http://www.galleryplexus.com/ch/">Galleryplexus</a></li>
        <li><a href="http://www.nowhere-else.ch/">Nowhere-Else</a></li>
        <li><a href="http://www.vitromusee.ch/de/aktuell.html">Vitromusee Romont</a></li>
    </ul>
    
    <ul>
        <li><a href="http://www.desptitsbonheurs.com/index.html">Des ptits bonheurs</a></li>
        <li><a href="http://www.cedricbregnard.ch/">Cedric Bregnard</a></li>
        <li><a href="http://www.yverdonlesbainsregion.ch/fr/page.cfm/Culture_Patrimoine/artistes-et-artisans">Artistes et artisants de la région d'Yverdon-les-bains</a></li>
    </ul>
    
    <ul>
        <li><a href="http://www.journeesdesmetiersdart-vaud.ch/">Journées des métiers d'art-vaud.ch</a></li>
        <li><a href="http://www.notesprecieuses.com/lemagazine/2009/11/30/resultats-du-concours-jeunes-createurs-bijou-d-enfance-du-pole-bijou-de-baccarat/">Concours jeunes créateurs bijoux d'enfance</a></li>
    </ul>
    
    <ul>
        <li><a href="http://www.idverre.net/">IdVerre</a></li>
        <li><a href="http://www.cerfav.fr/">Cerfav.fr</a></li>
    </ul>


{% endblock %}