{% extends "pages/content-page.html" %}

{% block text-content %}
    <p>Atelier ouvert au public du 15.04 au 15.07, et du 15.09 au 23.12.</p>
    <ul>
        <li>les mercredis de 14h à 18h</li>
        <li>le premier samedi du mois de 14h  17h</li>
        <li>Galerie Plexus Palace, Montreux CH-1833</li>
        <li>Restaurant de l'Hôtel de Ville de Crissier CH-1023</li>
        <li>Boutique du MusVerre, Sars Poterie F-59216</li>
        <li>Galerie Caractère, Neuchâtel CH-2000</li>
        <li>Boutique du Musée de Romont CH-1680</li>
    </ul>

{% endblock %}