{% extends "pages/content-page.html" %}

{% block text-content %}
    <ul>
        <li>Galerie Yvart, à Yverdon les Bains CH-1400</li>
        <li>Boutique du Vitromusée, Romont, CH-1680</li>
        <li>Boutique de l'Abbatiale de Romainmôtier, CH-1323</li>
        <li>Galerie Plexus de Marly CH-1 700, et de Clarens/Montreux, villa Murillo CH-1815,</li>
        <li>Galerie Caractère, Neuchâtel CH-2000,</li>
        <li>Galerie P. Berges, Biarritz F-64,</li>
        <li>Cours de verre au chalumeau à l'atelier,</li>
    </ul>
{% endblock %}