{% extends "pages/page.html" %}
{% load static %}

{% block body %}
    <div id="text-content">
        <div id="only-text">
            <h1>Articles de presse</h1>
            <div>
                <ul class="timeline">
                    {% for year, articles_year in articles.items|dictsortreversed:"0.lower" %}
                        <li>
                            <span class="title">{{ year }}</span>
                            <span class="text">
                                {% for article in articles_year %}
                                    <p><b>{{ article.title }}</b> paru le {{ article.date }}</p>
                                    {% if article.youtube_link != None %}
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ article.youtube_link }}"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    {% endif %}

                                    {% with images=article.get_images %}
                                        {% include 'common/display-mini-images.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}