body, footer {
    margin: auto;
    max-width: 1200px;
    font-family: Candara, Galdeano, Orienta,Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body #content {
    width: 100%;
    min-height: 580px;
}

.title, h1, h2, h3, h4, h5 {
    font-variant: small-caps;
}

body #content #main {
    margin: auto;"
}

body #content #text-content #only-text {
    width: 60%;
    margin-left: 20%;
}
body #content #text-content #text-main {
    text-align: justify;
    width: 60%;
    margin-left: 40%;
}

#text-left {
    position: absolute;
    top: 350px;
}

a:hover {
    color: #b14b85
}

a {
    color: #98105d;
}

#photo-home {
    width: 80%;
    margin-top: -80px;
}

#content h1 {
    color: #98105d;
    font-size: 18pt;
    padding-bottom: 10px;
}

.picture-element {
    margin-right: 60px;
    margin-bottom: 60px;
}

.picture-element .caption {
    text-align: center;
    display: block;
    width: 100%;
}

.picture-element .square {
    height: 170px;
    width: 250px;
    display: block;
    text-align: center;
    padding-top: 5px;
}

.picture-element .square-0 {
    background-color: #98105d;
 }

 .picture-element .square-1 {
    background-color: #999999;
 }

 .picture-element .square-2 {
    background-color: #4d4d4d;
 }

 .picture-element .square-3 {
    background-color: #cccccc;
 }

 .vertical-arrow img {
     width: 40px;
 }

#back2Top, #back2Bottom {
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
}

#back2Top:hover {
}

@media(max-width: 758px) {
    #logo {
        display: none;
    }

    #logo_mini {
        display: inline;
    }

    #text-left {
        position: relative;
        text-align: center;
        margin-top: -300px;
    }

    body #content #text-content #text-main {
        width: 90%;
        margin-left: 5%;
    }

    body #content {
        width: 100%;
        min-height: 0;
    }
}

@media(min-width: 758px) {
   #logo_mini {
        display: none;
    }

    #logo {
        display: inline;
    }
}