body, footer {
    margin: auto;
    max-width: 1200px;
    font-family: Candara, Galdeano, Orienta,Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body #content {
    width: 100%;
    min-height: 580px;
}

.title, h1, h2, h3, h4, h5 {
    font-variant: small-caps;
}

body #content #main {
    margin: auto;"
}

body #content #text-content {
    text-align: justify;
    width: 60%;
    margin-left: 40%;
}

#text-left {
    position: absolute;
}

a:hover {
    color: #b14b85
}

a {
    color: #98105d;
}

#photo-home {
    width: 80%;
    margin-top: -80px;
}

#content h1 {
    color: #98105d;
    font-size: 18pt;
    padding-bottom: 10px;
}

.picture-element {
    margin-right: 60px;
    margin-bottom: 60px;
}

.picture-element .caption {
    text-align: center;
    display: block;
    width: 100%;
}

.picture-element .square {
    height: 170px;
    width: 250px;
    display: block;
}

.picture-element .square-0 {
    background-color: #98105d;
 }

 .picture-element .square-1 {
    background-color: #999999;
 }

 .picture-element .square-2 {
    background-color: #4d4d4d;
 }

 .picture-element .square-3 {
    background-color: #cccccc;
 }