footer {
    bottom: 0;
    width: 100%;
    position: relative;
    padding-top: 50px;
    font-size: 12pt;
}

footer .contact .element {
    padding-left: 40px;
    padding-bottom: 30px;
}

footer .social .element {
    padding-left: 10px;
}
footer .social{
    float: right;
}

footer .contact {
    float: left;
}

footer .social {
    text-align: right;
    right: 0;
}

