.gallery {
    margin-left: -30%;
    height: 650px; /* Hauteur main-photo + 150px */
}

.mini-photos {
    display: inline-block;
    min-width: 330px;
    text-align : center;
    height: 100%;
}

.mini-photos img {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 150px; /* (Hauteur main-photo - hauteur mini-photo) / 2 */*/
}

.caption {
    display: inline-block;
    /*width: 100%;*/
}

.caption #content {
    display: inline;
    width: 100%;
    margin: auto;
}

.main-photo img {
    max-width: 400px;
    padding-right: 10px;
    padding-left: 10px;
}

.main-photo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    max-width: 400px;
    height: 100%;
    /*float: left;*/
}

div.caption {
    padding: 15px;
    text-align: center;
}