.gallery {
    margin-left: -40%;
    height: 650px; /* Hauteur main-photo + 150px */
}

.mini-photos {
    display: inline-block;
    min-width: 330px;
    text-align : center;
    height: 100%;
}

.mini-photos a img {
    opacity: 0.70;
    filter: blur(1.5px);
}

.mini-photo a:hover img {
    opacity: 1;
    filter: blur(0px);
}

.mini-photos .mini-photo {
    background-color : #98105d;
    display: inline-block;
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 10px
}

.caption {
    display: inline-block;
    /*width: 100%;*/
}

.caption #content {
    display: inline;
    width: 100%;
    margin: auto;
}

.main-photo img {
    max-width: 400px;
    padding-right: 10px;
    padding-left: 10px;
}

.main-photo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    max-width: 400px;
    height: 100%;
    /*float: left;*/
}

div.caption {
    padding: 15px;
    text-align: center;
}