.gallery {
    width: 110%;
}

.mini-photos {
    display: inline-block;
    min-width: 350px;
}

.mini-photos.left {
    margin-left: -60px;
    text-align: right;
}

.mini-photos.right {
    margin-left: 0px;
    text-align: left;
}

.mini-photos a img {
    opacity: 0.70;
    filter: blur(1.5px);
    height: 100px;
}

.mini-photo a:hover img {
    opacity: 1;
    filter: blur(0px);
}

.mini-photos .mini-photo {
    display: inline-block;
    margin-top: 130px;
    margin-left: 2px;
    margin-right: 2px
}

.caption {
    display: inline-block;
}

.caption #content {
    display: inline;
    margin: auto;
}

.main-photo img {
    max-width: 540px;
    padding-right: 10px;
    padding-left: 10px;
}

.main-photo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

div.caption {
    padding: 15px;
    text-align: center;
    max-width: 400px;
}

.gallery .horizontal-arrow {
    display: inline;
    position: absolute;
    margin-top: 300px;
}

.gallery .horizontal-arrow.left {
    margin-left: -100px;
}

.gallery .horizontal-arrow.right {
    margin-left: 20px;
}

.gallery .horizontal-arrow img {
    width: 70px;
}