.timeline{
	position: relative;
}

/*Line*/
.timeline>li::before{
	content:'';
	position: absolute;
	width: 1px;
	background-color: #da7fb3;
	margin-top: 40px;
    top: 0;
	bottom: 0;
	left:-19px;

}

.timeline .title {
    position: absolute;
    margin-left: -63px;
    display: block;
    width: 50px;
    text-align: center;
    color: #b14b85;
    font-weight: bold;
}

.timeline .text {
    margin-top: 0;
    display: block;
}

/*Content*/
.timeline>li{
	counter-increment: item;
	padding: 10px 20px;
	margin-left: 0;
	position: relative;
	background-color: white;
	list-style: none;
    min-height: 50px;
}
.timeline>li:nth-last-child(1)::before{
	width: 0px;
}