{% extends "pages/content-page.html" %}

{% block text-content %}
<h2>Atelier</h2>
<p>Chemin du Clon 24<br/>
    CH-1405 Pomy</p>

<p>Tél : +41 (0) 78 910 45 15</p>

<p>E-mail : <a href="mailto:valerie@createursverriers.ch">valerie@createursverriers.ch</a></p>


<h2>Newsletter</h2>
    <p>Vous pouvez vous inscrire à la newsletter en entrant votre adresse email ci-dessous : </p>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://valeriederoquemaurel.us18.list-manage.com/subscribe/post?u=c50fdf7fe75d600cf94f78179&amp;id=fa00f978c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c50fdf7fe75d600cf94f78179_fa00f978c3" tabindex="-1" value=""></div>
    <div class="clear" style="display: inline-block">
        <input class="btn btn-primary" type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<!--End mc_embed_signup-->
<h2>Horaires d'ouverture</h2>

<h3>Démonstrations et espace d'exposition :</h3>

<p>du 15.04 au 15.07 et du 15.09 au 23.12<br/>

Les mercredis de 14h à 18h,<br/>

Le 1er samedi du mois de 14h à 17h.
</p>

<h3>Ouvertures supplémentaire en décembre :</h3>
<p>Démonstrations supplémentaire le 3° samedi du mois, de 14h à 17h.</p>

<h2>Stationnement</h2>

<p>Merci de parquer votre véhicule le long du Chemin de Clon, de sorte a ce que la circulation se fasse aisément.</p>

<p>Personnes à mobilité réduite :<br/>
    Empruntez le passage à droite du n°12 . Vous pouvez vous mettre devant l'atelier.</p>

<p>Groupes et manifestations :<br/>
Si le chemin de Clon n'est pas suffisant, vous pouvez vous mettre le long du Chemin aux Oies.<br/>
2 à 5 min de marche à pied.
</p>

    <h2>Plan d'accès</h2>
{# Plan Google #}
    <iframe width="750" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Chemin+du+clon+24++CH-1405+Pomy&amp;aq=&amp;sll=43.30543,1.244993&amp;sspn=2.594224,5.635986&amp;ie=UTF8&amp;hq=&amp;hnear=Chemin+de+Clon+24,+1405+Pomy,+Vaud,+Suisse&amp;ll=46.76105,6.66066&amp;spn=0.038156,0.088062&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    <p>
    Depuis l'autoroute:
    </p>
    <ul>
        <li>Sortie autoroute Yverdon-Sud</li>
        <li>Prendre route de Lausanne direction centre ville. Continuez un bout.</li>
        <li>Avant un pont et après une station AVIA, tournez à droite direction Moudon/Thierrens/zone de tir.</li>
        <li>Montez cette route en lassos.</li>
        <li>Arrivé au prochain rond point, le village de Pomy est indiqué à gauche, tournez à l'opposé à droite sur un chemin bétonné qui redescends.
    Vous êtes sur le chemin du clos ancel, le chemin du clon suit.
    Allez en direction d'un sens interdit indiqué à 300m,
    l'atelier est 280m plus bas derrière une maison au premier étage orange (n°12), nous sommes au numéro 24.</li>
        <li>Vous êtes arrivé !</li>
    </ul>
{% endblock %}