{% extends "pages/content-page.html" %}

{% block text-content %}
<h2>Atelier</h2>
<p>Chemin du Clon 24<br/>
    CH-1405 Pomy</p>

<p>Tél : +41 (0) 78 910 45 15</p>

<p>E-mail : valerie@createursverriers.ch</p>


<h2>Horaires d'ouverture</h2>

<h3>Démonstrations et espace d'exposition :</h3>

<p>du 15.04 au 15.07 et du 15.09 au 23.12<br/>

Les mercredis de 14h à 18h,<br/>

Le 1er samedi du mois de 14h à 17h.
</p>

<h3>Ouvertures supplémentaire en décembre :</h3>
<p>Espace exposition, les jeudis et vendredis de 14h à 18h, les samedis de 14h à 17h</p>

<p>Démonstrations supplémentaire le 3° samedi du mois, de 14h à 17h.</p>

<h2>Stationnement</h2>

<p>Merci de parquer votre véhicule le long du Chemin de Clon, de sorte a ce que la circulation se fasse aisément. Vous pouvez mettre 1 roue (ou 2 !) dans l'herbe.
    Le chemin sera élargi à l'automne 2017</p>

<p>Personnes à mobilité réduite :<br/>
    Empruntez le passage à droite du n°12 . Vous pouvez vous mettre devant l'atelier.</p>

<p>Groupes et manifestations :<br/>
Si le chemin de Clon n'est pas suffisant, vous pouvez vous mettre le long du Chemin aux Oies.<br/>
2 à 5 min de marche à pied.
</p>

{% endblock %}