{% extends "pages/content-page.html" %}

{% block left-content %}
    <div style="text-align: center">
    <p style="margin-bottom: 50px"><img src="/upload/pages/cours/presentation/5c03.jpg" /></p>
    <p style="margin-bottom: 50px"><img src="/upload/pages/cours/presentation/5c04.jpg" /></p>
    <p><img width="400px" src="/upload/pages/cours/presentation/5c06.jpg" /></p>
    </div>
{% endblock %}
{% block text-content %}
    <p>Venez suivre le programme pour vous initier et créer vous-même vos envies.</p>

<p>L'objectif est de vous familiariser avec le matériau, d'arriver à le dompter, et de faire surgir vos propres créations.
Le stage se déroule étape par étape, avec un panel de possibilités. De la forme au motif,
vous serez ensuite autonome et si vous le souhaitez, vous pourrez poursuivre librement.</p>

    <p>L'outillage et les consommables sont mis à votre disposition, il ne manque donc plus que vous !</p>

    <h3>Idée cadeau</h3>
    <p>Vous pouvez offrir à un proche un bon cadeau pour suivre-ces cours, le bon cadeau est disponible ici. TODO</p>


    <h3>Inscrivez-vous</h3>
    <p>Initiation 2018, 8h, 290.-/pers, max 4 pers. 9h-13h/14h18h</p>

    <ul>
        <li>15 Septembre, 20 Octobre, 24 Novembre (1 place)</li>
        <li>26 Janvier 2019</li>
        <li>16 Février 2019</li>
        <li>9 Mars 2019</li>
        <li>6 Avril 2019</li>
        <li>sur rendez-vous</li>
    </ul>

    <p><br/><b>NOUVEAU ! </b></p>
    <p>Ursula Gerber Badan, Atelier Etincelles. Reflets et Effets spéciaux.<br/>
13h30-17h<br/>
    </p>
    <ul>
        <li>cours 1: Transformation de la couleur: Découvrir les effets et possibilités par la réduction ou le « Striking » des verres de Reichenbach, Double Helix ou Northstar</li>
        <li>cours 2: Applications décoratives spéciales: Travail avec « SIS »,  « Mesh » et « Shards »</li>
    </ul>
<p>
    Prérequis : Maîtrise des techniques de base telles que : diverses formes de perles, poser des points et lignes, couvrir une perle d'une couche transparente, savoir tirer des "stringers" de différents diamètres.</p>

    <h3>Tarifs 2018 </h3>
    <ul>
        <li>360.- les 8 heures de cours, cours particuliers et sur RDV.</li>
        <li>290.- les 8 heures de cours, pour les cours de groupe (par personne).</li>
    </ul>
    <p>4 élèves max.</p>
    <p>20.-/h pour la location du poste, sans le verre. Four de recuisson, 10.-</p>

    <p>Toutes les réalisations effectuées sont remises.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/8WO7uMZryTc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

{% endblock %}