{% extends "pages/content-page.html" %}

{% block left-content %}
    <div style="text-align: center">
    <p style="margin-bottom: 50px"><img src="/upload/pages/cours/presentation/5c03.jpg" /></p>
    <p style="margin-bottom: 50px"><img src="/upload/pages/cours/presentation/5c04.jpg" /></p>
    <p><img width="400px" src="/upload/pages/cours/presentation/5c06.jpg" /></p>
    </div>
{% endblock %}
{% block text-content %}
<p>Venez suivre le programme pour vous initier à la perle en verre au chalumeau, et créer vous-même vos envies.</p>

<p>L'objectif est de vous familiariser avec le matériau, d'arriver à le dompter, et de faire surgir vos propres créations. Le stage se déroule étape par
étape, avec un panel de possibilités. De la forme au motif en passant par la couleur, vous serez ensuite autonome et si vous le souhaitez, vous pourrez
poursuivre librement.</p>

<p>L'outillage et les consommables sont mis à votre disposition, il ne manque donc plus que vous !</p>

    <h3>Idée cadeau</h3>
	<p>Commandez un bon cadeau à offrir pour suivre-ces cours, en cliquant ici : <a href="mailto:valerie@createursverriers.ch">valerie@createursverriers.ch</a>.</p>


    <h3>Inscrivez-vous</h3>
	<p>Initiation, 8h, 290.-/pers, max 4 pers. 9h-13h/14h-18h</p>

    <ul>
        <li>20 Avril 2019</li>
		<li>18 mai 2019</li>
	    <li>15 juin 2019</li>
		<li>29 juin 2019</li>
    </ul>

    <h3>Tarifs 2019</h3>
    <ul>
		<li>290.- les 8 heures de cours, pour les cours de groupe (par personne).</li>
		<li>390.- les 8 heures de cours, cours particuliers, sur RDV.</li>
    </ul>
	<p>4 élèves max.</p>

	<p>25.-/h pour la location du poste, sans le verre. Four de recuisson, 10.-</p>
	<p>Toutes les réalisations effectuées sont remises.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/8WO7uMZryTc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

{% endblock %}
