{% extends "pages/page.html" %}
{% load static %}
{% load common_string %}
{% load common_url %}

{% block body %}
    <div id="text-content">
        <div id="only-text">
            <h1>Expositions</h1>
            <div>
                <ul class="timeline">
                    {% for event in events %}
                        {% if not event.is_ended %}
                            <li>
                                <span class="title"><b>{{ event.start_date|date:'M y' }}</b></span>

                                <span class="text">
                                    <h3>{{ event.title }}</h3>, du <b>{{ event.start_date }}</b> au <b>{{ event.end_date }}</b> à <b>{{ event.location }}</b>
                                    <p>
                                        <em>
                                            {% if event.is_now%}
                                                L'exposition se déroule actuellement
                                            {% else %}
                                                L'expo est dans {{ event.start_date|timeuntil }}
                                            {% endif %}
                                        </em>
                                        {{ event.description|linebreaks }}
                                    </p>
                                    {% with images=event.get_images %}
                                        {% include 'common/display-mini-images.html' %}
                                    {% endwith %}

                                    <ul style="list-style-type: none">
                                        {% for document in event.get_documents %}
                                            <li>
                                                {% with title=document.title %}
                                                {{ document.doc|file_attachment:title|safe }}
                                                {% endwith %}
                                            </li>
                                        {% endfor %}

                                         {% if  event.url|startswith:'https://www.youtube.com' or event.url|startswith:"http://www.youtube.com" or event.url|startswith:"https://youtube.com" or event.url|startswith:"http://youtube.com"%}
                                            {{ event.url|youtube_embedded|safe }}
                                         {% elif event.url %}
                                             <li>{{ event.url|url_attachment|safe }}</li>
                                         {% endif %}
                                    </ul>
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
