{% extends "base.html" %}
{% load static %}

{% block navbar %}
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            {# Pour le bouton en responsive #}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Activer la navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="horizontal-menu nav navbar-nav">
                        {% for category in categories %}
                            <span class="category">
                                <li>
                                    <a href="{% url 'display_category' category.slug %}"
                                        {% if current_cat.slug == category.slug %}
                                            class="selected"
                                        {% endif %}>
                                        {% if category.slug != 'accueil' %}
                                            {{ category.title }}
                                        {%else%}
                                            <span id="home">
                                                <img src="{% static '/style/img/home.jpg' %}" alt="{{category.title}}"/>
                                            </span>
                                        {%endif%}
                                    </a>
                                </li>

                                {# On affiche les sous-catégories uniquement pour la catégorie courante #}
                                {% if current_cat.slug == category.slug %}
                                    <ul class="vertical-submenu">
                                        {% for subcat in category.get_childs %}
                                            <li class="subcategory"><a href="{% url 'display_subcategory' category.slug subcat.slug %}"
                                            {% if page.parent.slug == subcat.slug %}
                                                class="selected"
                                            {% endif %}
                                                >{{subcat.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div> <!-- /container -->
{% endblock %}
