{% extends "base.html" %}

{% block navbar %}
<ul>
{% for category in categories %}

    <li><a href="{% url 'display_category' category.slug %}"
    {% if current_cat.slug == category.slug %}
        class="selected"
    {% endif %}
    >{{ category.title }}</a></li>

    {# On affiche les sous-catégories uniquement pour la catégorie courante #}
    {% if current_cat.slug == category.slug %}
        <ul>
            {% for subcat in category.get_childs %}
            <li><a href="{% url 'display_subcategory' category.slug subcat.slug %}"
            {% if current_subcat.slug == subcat.slug %}
                   class="selected"
            {% endif %}
            >{{subcat.title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}
